<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="box">
      <h1 class="title">Edit Page</h1>
      <br />
      <%= render 'form', page: @page %>
    </div>
  </div>
</div>