<%= form_with(model: [:admin, album], local: true) do |form| %>
  <div class="field">
    <%= form.text_field :name, title: 'Album Title', required: true, class: 'input', placeholder: "Type a name..." %>
  </div>

  <div class="buttons is-right">
    <%= form.submit 'Save', class: 'button is-link is-outlined' %>
    <%= link_to 'Cancel', :back, class: 'button is-danger is-outlined' %>
  </div>
<% end %>