<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="box">
      <h1 class="title">Add Photo</h1>
      <br />
      <%= render 'form', photo: @photo %>
    </div>
  </div>
</div>