<div class="columns mt-6">
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fa fa-newspaper fa-5x"></i></span>
    <h2 class="title is-3">Blog</h2>
    <%= link_to 'I mostly write about tech-related tutorials on various topics', blog_path %>
  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-images fa-5x"></i></span>

    <h2 class="title is-3">Photography</h2>
    <p>Lomo tumeric art party, subway tile fingerstache sriracha af leggings squid selvage literally wolf sartorial cliche raw denim. VHS tofu yr unicorn, flexitarian jean shorts tacos brunch yuccie lumbersexual stumptown prism mumblecore leggings. Subway tile occupy put a bird on it, jianbing cred PBR&B crucifix ugh gastropub pinterest helvetica wolf poke art party brooklyn</p>
    <button class="button is-info is-light">See Photos</button>

  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-laptop-code fa-5x"></i></span>

    <h2 class="title is-3">What I'm working on now</h2>
    <p>Echo park flannel jianbing heirloom kinfolk next level listicle dreamcatcher iceland polaroid. Quinoa williamsburg stumptown banh mi PBR&B hella. Yuccie bushwick bitters artisan, ramps chicharrones narwhal portland thundercats gochujang umami keytar hammock. Mixtape humblebrag wolf retro waistcoat hashtag ugh semiotics lumbersexual pinterest vinyl farm-to-table dreamcatcher asymmetrical.</p>
    <button class="button is-link is-light">Read More</button>
  </div>

  <!--  <div class="column is-one-quarter has-text-centered">-->
  <!--    <span class="icon is-large has-text-centered"><i class="fas fa-comment-alt fa-7x"></i></span>-->

  <!--    <h2 class="title is-3">Public Speaking</h2>-->

  <!--  </div>-->
</div>