<div class="columns is-vcentered mb-6 mt-6">
  <div class="column is-one-third is-offset-one-quarter">
    <div class="content">
    <h1 class="title is-4">glennjamin</h1>
    <p>Ruby on Rails developer from Ohio.<br />
      father | husband | cyclist | amateur photographer</p>
    </div>
  </div>
  <div class="column">
    <%= image_tag("glennjamin.jpg",  size: "250")  %>
  </div>
</div>
<div class="columns mt-6">
  <div class="column is-one-third has-text-centered">
      <span class="icon is-large has-text-centered"><i class="fas fa-newspaper fa-5x"></i></span>
      <h2 class="title is-3">Most Recent Post</h2>
      <span class="is-left">lorem ipsum stuff</span>
  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-images fa-5x"></i></span>

    <h2 class="title is-3">Photography</h2>
  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-laptop-code fa-5x"></i></span>

    <h2 class="title is-3">What I'm working on now</h2>

  </div>

<!--  <div class="column is-one-quarter has-text-centered">-->
<!--    <span class="icon is-large has-text-centered"><i class="fas fa-comment-alt fa-7x"></i></span>-->

<!--    <h2 class="title is-3">Public Speaking</h2>-->

<!--  </div>-->
</div>


