<div class="columns is-vcentered mb-6 mt-6">
  <div class="column is-one-third is-offset-one-quarter">
    <div class="content">
    <h1 class="title is-4">glennjamin</h1>
    <p>Ruby on Rails developer from Ohio.<br />
      father | husband | cyclist | amateur photographer</p>
    </div>
  </div>
  <div class="column">
    <%= image_tag("glennjamin.jpg",  size: "250")  %>
  </div>
</div>
<div class="columns mt-6">
  <div class="column is-one-third has-text-centered">
      <span class="icon is-large has-text-centered"><i class="fas fa-newspaper fa-5x"></i></span>
      <h2 class="title is-3">Blog</h2>
      <p>Iceland 90's jianbing enamel pin flannel squid kitsch adaptogen gluten-free retro wayfarers authentic ethical. Air plant squid pickled banh mi shaman. Lomo raclette woke occupy, hot chicken chillwave etsy jianbing pabst leggings actually artisan.</p>
      <button class="button is-link is-outlined">See Blog</button>
  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-images fa-5x"></i></span>

    <h2 class="title is-3">Photography</h2>
    <p>Lomo tumeric art party, subway tile fingerstache sriracha af leggings squid selvage literally wolf sartorial cliche raw denim. VHS tofu yr unicorn, flexitarian jean shorts tacos brunch yuccie lumbersexual stumptown prism mumblecore leggings. Subway tile occupy put a bird on it, jianbing cred PBR&B crucifix ugh gastropub pinterest helvetica wolf poke art party brooklyn</p>
    <button class="button is-info is-light">See Photos</button>

  </div>
  <div class="column is-one-third has-text-centered">
    <span class="icon is-large has-text-centered"><i class="fas fa-laptop-code fa-5x"></i></span>

    <h2 class="title is-3">What I'm working on now</h2>
    <p>Echo park flannel jianbing heirloom kinfolk next level listicle dreamcatcher iceland polaroid. Quinoa williamsburg stumptown banh mi PBR&B hella. Yuccie bushwick bitters artisan, ramps chicharrones narwhal portland thundercats gochujang umami keytar hammock. Mixtape humblebrag wolf retro waistcoat hashtag ugh semiotics lumbersexual pinterest vinyl farm-to-table dreamcatcher asymmetrical.</p>
    <button class="button is-link is-light">Read More</button>
  </div>

<!--  <div class="column is-one-quarter has-text-centered">-->
<!--    <span class="icon is-large has-text-centered"><i class="fas fa-comment-alt fa-7x"></i></span>-->

<!--    <h2 class="title is-3">Public Speaking</h2>-->

<!--  </div>-->
</div>


