default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } + Concurrent.processor_count %>
  timeout: 5000
  host: postgres
  username: admin
  password: admin

development:
  <<: *default
  database: glennjamin_development

test:
  <<: *default
  database: glennjamin_test