<div class="columns is-vcentered is-centered is-multiline is-offset-one-fifth">
  <% if @photos.any? %>
  <% @photos.each do |photo| %>
  <div class="column is-one-quarter-desktop is-half-tablet ">
    <div class="card">
      <%= link_to photo_path(slug: photo.slug) do %>
      <div class="card-content">
        <%= image_tag photo.photograph, class: "image", width: '100%' %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
    <% else %>
  Coming Soon...
    <% end %>
</div>

