<footer class="footer has-background-white">
  <div class="content has-text-centered">
    <section>
      <div class="columns is-centered">

        <div class="column is-three-fifths">
          <hr>
          &#169; Copyright & Stuff like that <%= Date.today.year %>&#8226; All rights reserved.<br/>
          View on <%= link_to 'github', 'https://github.com/gharmonjr/glennjamin-blog' %> | Find me on <%= link_to 'Twitter', 'https://twitter.com/glennjamin_dev' %>

        </div>
      </div>
    </section>
  </div>
</footer>